.product {
	padding: 2.5rem 5rem;
	min-height: 100vh;
	background-color: var(--color-dark--1);
	overflow: hidden;
	background-image: linear-gradient(
			rgba(37, 40, 42, 0.5),
			rgba(77, 83, 87, 0.5)
		),
		url("../img-2.jpg");
	background-size: cover;
	background-position: center;
}

.product div {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product h2 {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 3rem;
}

.product p {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.product section a {
	margin-top: 2rem;
}
